* {
	box-sizing: border-box;
	margin    : 0;
	padding   : 0;
	transition: all .3s linear;
}

html {
	font-size  : 10px;
	line-height: 1;
}

img {
	max-width: 100%;
	height   : auto;
}

.no-padding {
	padding-right: 0;
	padding-left : 0;
}
